[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/thmiller18
[access "refs/for/refs/*"]
	read = group user/thmiller18
	push = group user/thmiller18
	label-Code-Review = -2..+2 group user/thmiller18
	label-Verified = -1..+1 group user/thmiller18
	rebase = group user/thmiller18
	removeReviewer = group user/thmiller18
	submit = group user/thmiller18
[access "refs/heads/*"]
	read = group user/thmiller18
	create = group user/thmiller18
	push = +force group user/thmiller18
	pushMerge = group user/thmiller18
[access "refs/tags/*"]
	push = +force group user/thmiller18
	pushTag = group user/thmiller18
	pushSignedTag = group user/thmiller18
